@import "./scss/variables";

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: $bg;
}

img {
  display: block;
  max-width: 100%;
  // width: 50%;
  height: auto;
}
