@import "./variables";

.wrapper {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
}
.container {
  width: 560px;
  padding: 0 10px;
  // margin: 0 auto;
}
.header {
  background-color: $headRed;
  padding: 0 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  @media (max-width: 426px) {
    padding: 0 20px;
  }
  &-row {
    display: flex;
    align-items: center;
    height: 125px;
    &__info {
      flex: 1 1 100%;
      line-height: 40px;
      color: $headText;
      span {
      }
      h1 {
        @media (max-width: 426px) {
          font-size: 25px;
        }
      }
      @media (max-width: 426px) {
        line-height: 32px;
      }
    }
    &__logo {
    }
    @media (max-width: 426px) {
      height: 100px;
    }
  }
}
.content {
  background-color: $headText;
  padding: 35px;
  margin: 22px 0 0 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  @media (max-width: 426px) {
    padding: 30px 20px;
  }
  @media (max-width: 375px) {
    padding: 30px 10px;
  }
  &-body {
    &__title {
      font-size: 35px;
      color: $totalMo;
      font-weight: 800;
      @media (max-width: 426px) {
        font-size: 25px;
      }
    }
    &__chart {
      display: flex;
      align-items: flex-end;
      margin: 75px 0 0 0;

      @media (max-width: 426px) {
        margin: 55px 0 0 0;
      }
    }
    &__item {
      position: relative;
      background-color: $headRed;
      flex: 1 1 14%;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      &:not(:last-of-type) {
        margin: 0 18px 0 0;

        @media (max-width: 426px) {
          margin: 0 10px 0 0;
        }
      }

      &:hover {
        &::before {
          opacity: 1;
          visibility: visible;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
        }
      }

      &::before {
        opacity: 0;
        visibility: hidden;
        content: "$" attr(data-amount);
        position: absolute;
        //width: 100%;
        //left: -6.5px;
        left: -11.5%;
        top: -45px;
        padding: 8px;
        background-color: $totalMo;
        color: $headText;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        @media (max-width: 426px) {
          padding: 4px;
          top: -30px;
          font-size: 12px;
          left: 0;
        }
        @media (max-width: 375px) {
          left: -2.5px;
          font-size: 10px;
          top: -25px;
        }
      }
      &::after {
        content: attr(data-day);
        position: absolute;
        left: 50%;
        top: 100%;
        margin: 10px 0 0 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        color: $subTitle;
      }
      &.active {
        background-color: $currentDay;
      }
    }
  }
}
.footer {
  position: relative;
  margin: 90px 0 0 0;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__total {
      line-height: 40px;
      p {
        font-size: 45px;
        @media (max-width: 426px) {
          font-size: 30px;
        }
      }
      @media (max-width: 426px) {
        line-height: 37px;
      }
    }
    &__month {
      text-align: right;
      line-height: 25px;
      p {
        font-size: 18px;
      }
    }
    span {
      color: $subTitle;
    }
    p {
      color: $totalMo;
      font-weight: 800;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: -30px;
    height: 2px;
    background-color: $subTitle;
    opacity: 0.2;
  }
}
